.place__image {
	grid-area: image;
	min-height: 460px;
   margin: 0;
	max-width: 100%;
}

@media screen and (max-width: 1179px) {
	.place__image {
		min-height: 440px;
	}
}

@media screen and (max-width: 1023px) {
	.place__image {
		min-height: 340px;
	}
}

@media screen and (max-width: 767px) {
	.place__image {
		min-height: 320px;
		margin-bottom: 32px;
	}
}