.lead__subtitle {
	display: grid;
	justify-self: center;
	align-self: center;
	max-width: 640px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	color: #FFFFFF;
	margin: 0px;
}